@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Nome @ViewData["Nome"]</p>

<address>
    <strong>More information: </strong> <a href="https://matheuscoutinho1.github.io">Clique aqui para acessar meu portifólio com mais informações.</a>
</address>

